.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*------------------custom*/

body {
  height: 100%;
  background: #1D1F20;
  color: white;
}

.matrix-field{
  border: 1px solid white;
  padding: 10px 10px;
  user-select: none;
  width: 50px;
  height: 50px;
}

.matrix-sum-field{
  background-color: #5858581c;
  transition: .2s ease-in-out;
}

#matrix-table{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.matrix-field:hover{
  box-shadow: 0px 0px 15px #fff;
  cursor: pointer; 
}

.matrix-sum-field:hover{
  box-shadow: 0px 0px 0px #fff;
  cursor: pointer;
  background-color: #72727236;
  
}

.remove-btn div{
  width: 20px;
  height: 20px;
  margin-right: 15px;
  opacity: .3;
  transition: .2s ease-in-out;
}

.remove-btn div:hover{
  cursor: pointer;
  color: rgb(185, 48, 48);
  opacity: .7;
}

.field-highlight{
  background-color: #6fba82;
  transition: .2s ease-in-out;
}
.field-highlight:nth-child(1){
  background-color: #5073b8;
}
.field-highlight:nth-child(2){
  background-color: #1098ad;
}
.field-highlight:nth-child(3){
  background-color: #07b39b;
}
.field-highlight:nth-child(4){
  background-color: #417cc0;
}
.field-highlight:nth-child(5){
  background-color: #07b354;
}

/* .rainbow-box {
  background-color: #302244;
  border: 5px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
  height: 200px;
  margin: 20px auto;
  width: 200px;
} */